<header class="header">
    <div class="header__container container">
        <a class="header__logo" href="./">
            <picture class="header__logo-image">
                <source srcset="./images/mobile/logo.png 1x, ./images/mobile/logo@2x.png 2x" media="(min-width: 1200px)" type="image/png">
                <source srcset="./images/mobile/logo.png 1x, ./images/mobile/logo@2x.png 2x" media="(min-width: 768px)" type="image/png">
                <source srcset="./images/mobile/logo.png 1x, ./images/mobile/logo@2x.png 2x" media="(min-width: 320px)" type="image/png">
                <img src="./images/mobile/logo.png" alt="Логотип сайту">
            </picture>
        </a>
        <nav class="header__nav">
            <ul class="header__list">
                <li class="header__item">
                    <a class="header__link" href="">

                    </a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="">

                    </a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="">

                    </a>
                </li>
                <li class="header__item">
                    <a class="header__link" href="">

                    </a>
                </li>
            </ul>
        </nav>
        <button class="header__mobile-menu-button" type="button">
            <svg class="header_mobile-menu-icon">
                <use href="./images/icons.svg#mobile-menu_icon"></use>
            </svg>
        </button>
        <div class="mobile-menu">
            <button class="mobile-menu-close-button" type="button">
                <svg class="mobile-menu-close-icon">
                    <use href="./images/icons.svg#close_icon"></use>
                </svg>
            </button>
            <ul class="mobile-menu__list">
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link" href="./">
                        Home
                    </a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link" href="#about">
                        How it’s made?
                    </a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link" href="#products">
                        Our products
                    </a>
                </li>
                <li class="mobile-menu__item">
                    <a class="mobile-menu__link" href="#contact">
                        Contact
                    </a>
                </li>
            </ul>
            <button class="mobile-menu-button">
                Buy now
                <svg>
                    <use href="./images/icons.svg#arrow-right_icon"></use>
                </svg>
            </button>
        </div>
    </div>
</header>