<section class="hero-section">
    <div class="hero-section__container container">
        <h1 class="hero-section__title">
            ice cream
            made with
            <span class="hero-section__title--decoration">passion</span>
        </h1>
        <div class="hero-section__wrap">
            <a class="hero-section__link-button" href="./">
                Products
            </a>
            <a class="hero-section__link" href="./">
                How it’s made?
            </a>
        </div>
        <picture class="hero-section_background-image">
            <source srcset="./images/mobile/icecream.png 1x, ./images/mobile/icecream@2x.png 2x" media="(min-width: 1200px)" type="image/png">
            <source srcset="./images/mobile/icecream.png 1x, ./images/mobile/icecream@2x.png 2x" media="(min-width: 768px)" type="image/png">
            <source srcset="./images/mobile/icecream.png 1x, ./images/mobile/icecream@2x.png 2x" media="(min-width: 320px)" type="image/png">
            <img src="./images/mobile/icecream.png" alt="Кульки морозива">
        </picture>
        <picture class="hero-section_background-dots">
            <source srcset="./images/mobile/bg_dots.png 1x, ./images/mobile/bg_dots@2x.png 2x" media="(min-width: 1200px)" type="image/png">
            <source srcset="./images/mobile/bg_dots.png 1x, ./images/mobile/bg_dots@2x.png 2x" media="(min-width: 768px)" type="image/png">
            <source srcset="./images/mobile/bg_dots.png 1x, ./images/mobile/bg_dots@2x.png 2x" media="(min-width: 320px)" type="image/png">
            <img src="./images/mobile/bg_dots.png" alt="Кульки морозива">
        </picture>
        
    </div>
</section>